@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

:root {
  --font-family: "JetBrains Mono", monospace;
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
    @apply font-bold uppercase;
}

h1 {
    @apply text-2xl md:text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

p {
    @apply leading-7 mb-3 break-words text-wrap hyphens-auto text-black dark:text-white;
}

a, a:hover, a:visited, a:active {
    @apply underline text-black dark:text-white;
}

nav a, nav a:visited, nav a:active {
    @apply no-underline;
}

ol {
    @apply list-decimal font-medium p-0 list-inside my-5;
}

pre {
    @apply whitespace-pre overflow-x-auto m-4 overflow-y-hidden
}

figure pre {
    @apply m-0
}

.article-entry h1, h2, h3, h4, h5 {
    @apply my-6;
}

.article-entry table h1 {
    @apply my-0;
}

.article-entry ol {
  @apply text-neutral-600 dark:text-neutral-400;
}

.article-entry ul {
    list-style: square;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.article-entry code {
    @apply font-bold;
}

.astro-code {
    @apply p-3 my-5;
}
  
.note {
    @apply my-3 bg-neutral-300 dark:bg-neutral-700 p-5;
}

.note p {
    @apply text-neutral-700 dark:text-neutral-300;
}

table {
    @apply w-full border-collapse mb-5
}
  
th, td {
    @apply border-2 border-black dark:border-white px-6 py-2 align-top text-left;
}

table tbody tr:first-child > * {
    @apply pt-2;
}

th {
    @apply font-bold;
}