---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="TwoSlashes: Home">
  <div class="w-full md:w-2/5">
    <img
      src="avatar.webp"
      class="w-full border-2 border-black dark:border-white"
    />
  </div>
  <div class="w-full md:w-3/5">
    <div>
      <p>
        Currently, I am pursuing a Master of Science in
        <a
          href="https://psychology.berkeley.edu/students/graduate-program/clinical-science"
          target="_blank">Clinical Psychology</a
        > at the University of California-Berkeley to study the human mind and how
        it responds to the world around us; seeking out new and innovative methods
        of discovery behind the ever-so-complex system of neurons, transmitters,
        and pathways. My undergraduate degree was a Bachelor of Science in
        <a href="https://eng.ua.edu/majors/computer-science-bs/" target="_blank"
          >Computer Science</a
        > from the University of Alabama and a Bachelor of Science in <a
          href="https://iou.edu.gm/stream/psy/"
          target="_blank">Psychology</a
        > from the International Open University.
      </p>
    </div>
    <p>
      Prior to beginning graduate school, I spent nearly two decades as a
      software engineer in Silicon Valley, Startups, and Freelancing. I've
      created tools and companies to improve social media interactions and
      formed companies dedicated to Open Source; including OpenTeknik, the
      company responsible for the creation and ongoing maintenance of the <a
        href="https://www.opensource-socialnetwork.org/"
        target="_blank">Open Source Social Network</a
      >. I worked as an engineer for Apple, transitioning the MobileMe platform
      to what we call iCloud today. My most recent professional project being a
      fullstack developer for DFN Freight Exchange, where I joined the team and
      spearheaded development of <a
        href="https://www.dfnfreight.com/"
        target="_blank">DFNX</a
      >, their flagship freight exchange application built using TypeScript and
      Vue 3.
    </p>
    <p>
      My work has ranged from software engineering, to fullstack, to ui design.
      I&apos;ve worked as a consultant, contractor, and freelancer in all of
      these areas of expertise under my own LLC; building complex and robust web
      applications using JavaScript Frameworks. For the last year and a half,
      I&apos;ve been focused on my education and learning new languages; taking
      a special interest in Golang for systems programming and HTMX, the <a
        href="https://hypermedia.systems/"
        target="_blank">Hypermedia library</a
      >. Paired together, they do an extremely wonderful job of eliminating the
      bloat that SPAs carry with them when used for the wrong application.
    </p>
    <p>
      I&apos;ve also become increasingly fond of <a
        href="https://astro.build"
        target="_blank">Astro</a
      >. This website was made using Astro and Tailwindcss. You can view the
      source code <a
        href="https://github.com/nodesleep/twoslashes"
        target="_blank">here</a
      >.
    </p>
    <p>
      I&apos;m passionate about creating music, astronomy, space travel,
      psychology, and meteorology. I am the creator and maintainer of <a
        href="https://tornadotrax.com"
        target="_blank">TornadoTrax</a
      >, an application that shows the damage paths of US tornadoes between
      1950-2022. It includes valuable analytics assisting researchers and
      enthusiasts alike.
    </p>
    <p>
      I&apos;m always open to new opportunities and love discussing technology.
      If you find me on Twitter, you&apos;ll see I am very much communicative
      and posting regularly; typically engaging in the memes from HTMX or
      ranting with other engineers about the common stuff you&apos;d hear at the
      water cooler.
    </p>
  </div>
</DefaultLayout>
