<nav class="flex pb-12">
    <div class="ml-auto">
        <ul class="flex gap-8 font-bold">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/essays">Essays</a>
            </li>
            <li>
                <a href="essays">Reading List</a>
            </li>
            <li>
                <a href="https://x.com/asyncawaited">@asyncawaited</a>
            </li>
        </ul>
    </div>
</nav>