<nav class="flex px-6 w-full xl:w-[80rem] mx-auto">
  <div class="flex items-center w-full">
    <a href="/" class="hover:no-underline">//</a>
    <ul class="flex items-center gap-8 font-bold ml-auto">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/essays">Essays</a>
      </li>
      <li>
        <a href="essays">Reading List</a>
      </li>
      <li>
        <a href="https://x.com/asyncawaited">@asyncawaited</a>
      </li>
    </ul>
  </div>
</nav>
