<nav class="flex px-6 w-full xl:w-[80rem] mx-auto">
  <div class="flex items-center w-full">
    <a href="/" class="hidden md:block hover:no-underline">//</a>
    <ul class="flex items-center gap-8 font-bold md:ml-auto">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/essays">Essays</a>
      </li>
      <li>
        <a href="/reading">Reading List</a>
      </li>
      <li>
        <a href="https://x.com/asyncawaited">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/nodesleep">Github</a>
      </li>
    </ul>
  </div>
</nav>
