<nav class="flex px-6 w-full xl:w-[80rem] mx-auto">
  <div class="flex items-center">
    <div class="flex items-center">
      <p class="text-lg font-bold">
        <a href="/" class="hover:no-underline">//</a>
      </p>
    </div>
  </div>
  <div class="flex items-center ml-auto">
    <ul class="flex items-center gap-8 font-bold">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/essays">Essays</a>
      </li>
      <li>
        <a href="essays">Reading List</a>
      </li>
      <li>
        <a href="https://x.com/asyncawaited">@asyncawaited</a>
      </li>
    </ul>
  </div>
</nav>
