---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import "../styles/oskar.css";

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
  </head>
  <body class="bg-white text-black dark:bg-neutral-950 dark:text-neutral-50">
    <div class="flex flex-col min-h-screen">
      <div
        class="flex items-center py-4 fixed w-full mx-auto bg-white dark:bg-neutral-950"
      >
        <Navbar />
      </div>
      <div
        class="flex flex-col md:flex-row gap-10 p-6 mt-20 w-full xl:w-[80rem] mx-auto"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
